@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wrapper {
    width: 100%;
    padding-left: 1rem; /* px-4 */
    padding-right: 1rem; /* px-4 */

    @screen md {
      padding-left: 2rem; /* md:px-8 */
      padding-right: 2rem; /* md:px-8 */
    }

    @screen lg {
      padding-left: 4rem; /* lg:px-16 */
      padding-right: 4rem; /* lg:px-16 */
    }

    @screen xl {
      padding-left: 7rem; /* xl:px-28 */
      padding-right: 7rem; /* xl:px-28 */
    }

    @screen 2xl {
      padding-left: 9rem; /* 2xl:px-36 */
      padding-right: 9rem; /* 2xl:px-36 */
    }
  }
}

body {
  background-color: rgb(242, 242, 242);
}

.hide-scrollbar {
  scrollbar-width: none;
}
